extends layout

block content
  div
    p Credits
    span favicon: 'Graph' by Barracuda from the Noun Project


//- TODO: about page
//- favicon: Graph by Barracuda from the Noun Project
//- number icons published by Roundicons from Flaticon.com
