extends layout

block content
  div
    p.credit Credits
    span Favicon('Graph') by Barracuda from the Noun Project
    br
    span Number icons by Roundicons from Flaticon.com


//- TODO: about page
//- favicon: Graph by Barracuda from the Noun Project
//- number icons published by Roundicons from Flaticon.com
