div#mySidenav.sidenav
  a(href="javascript:void(0)", class="closebtn" onclick="closeNav()") &times;
  a(href="") Home
  a(href="about") About
  a(href="#") Contact
span(class="navbtn", onclick="openNav()") &#9776; Open
